<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <%- include('../partials/header') %>
    <h1>Details Page</h1>
    <a href="/">Back</a>

    <h1>Id: <%= user.id %></h1>
    <h1>Name: <%= user.name %></h1>
    <h1>Age: <%= user.age %></h1>
</body>
</html>